*{
margin: 0px;
padding: 0px;
}


.outer{
width: 500px;
height:1000px ;
border: solid black;
margin: 0 auto;
}
.outer h1{
    text-align: center;
}
.p{
    font-size: 14px;
}
.border{
width: 95%;
padding: 1px;
border: solid black;
background-color: grey;
font-weight: bold;
}
ul{
font-size: 14px;
margin-left: 20px;
padding: auto;
}

